body{
    background-image: url('../images/pexels-karolina-grabowska-5632396.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.download {
    margin-top: 10%;
    margin-left: 40%;
    width: 600px;
    height: 100px;
}

.downbutton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    margin-left:25%;
}
